<footer class="footer">
    <div class="container">
        <p class="body-large text-on-surface-variant">
            jAMK University of applied sciences @ Copyright 2024
        <a href="/" class="">
            <img src="/images/jamk-logo-2.svg" align="center" width="150" height="150" alt="jamk" class="dark">
        </a>
    </p>
    </div>
</footer>
