<footer class="footer">
    <div class="container">
        <p class="body-large text-on-surface-variant">
            <br>info@jamk.fi
            <br> | 40740 Jyväskylä | puh. +358 40 818 9294
            <br>JAMK University of applied sciences @ Copyright 2026

        <a href="/" class="">
            <!-- <img src="/images/jamk-logo-2.svg" align="left" width="150" height="150" alt="jamk" class="dark"> -->
        </a>
    </p>
    </div>
</footer>
