<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../layouts/head', { title: 'Login | weblog' }) %>

  <script type="module" src="/js/login.js"></script>

</head>
<body>

  <section class="section form-section">
    <div class="container">

      <div class="form-card">

        <div class="card-header">
          <a href="/" class="logo">
            <div style="width: 160px; height: 80px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 16px; font-weight: bold;">
                <span style="font-size: 40px;">Jamk</span><br>
                <span style="font-size: 12px; font-weight: normal;">Jyväskylä University of Applied Sciences</span>
            </div>



            <!-- <img src="/images/jamk-logo.svg" width="163" height="40" alt="BlogApp" class="light">
            <img src="/images/jamk-logo.svg" width="163" height="40" alt="BlogApp" class="dark"> -->
          </a>

          <p class="body-large text-on-surface-variant">
            Join the University Weblog community
          </p>
        </div>

        <form action="" class="form" data-form>

          <div class="text-field-wrapper">
            <label for="email" class="body-large label">Email</label>

            <input type="email" name="email" id="email" autocomplete="email" placeholder=" " required class="body-large text-field" autofocus>
          </div>

          <div class="text-field-wrapper">
            <label for="password" class="body-large label">Password</label>

            <input type="password" name="password" id="password" placeholder=" " minlength="8" required class="body-large text-field">
          </div>

          <button type="submit" class="btn btn-fill" data-submit-btn>
            <p class="label-large">Log in</p>

            <div class="state-layer"></div>
          </button>

        </form>

        <div class="card-footer">
          <p class="label-large">Don't have an account?</p>

          <a href="/register" class="label-large text-primary">Create Now!</a>
        </div>

      </div>

    </div>
  </section>


  <!--
    - #SNACKBAR
  -->

  <div class="snackbar-wrapper" data-snackbar-wrapper></div>

</body>
</html>
