<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head', { title: 'Register in Weblog'}) %>
</head>
<body>
    <section class="section form-section">
        <div class="container">
            <div class="form-card">
                <div class="card-header">
                    <a href="/" class="logo">
                        <img src="/images/jamk-logo-dark.svg" width="105" height="50" alt="Jamk" class="light">
                        <img src="/images/jamk-logo.svg" width="155" height="50" alt="Jamk" class="dark">
                    </a>
                    <p class="body-large text-on-surface-variant">
                        Jamk Weblog for everyone
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
